[submodule "coreutils"]
	path = coreutils
	url = git@github.com:ocawesome101/apotheosis-coreutils
[submodule "epitome"]
	path = epitome
	url = git@github.com:ocawesome101/paragon-epitome
[submodule "paragon"]
	path = paragon
	url = git@github.com:ocawesome101/oc-paragon
[submodule "manpages"]
	path = manpages
	url = git@github.com:ocawesome101/apotheosis-manpages
[submodule "tle"]
	path = tle
	url = git@github.com:ocawesome101/tle
